<div class="margin-top"><!----></div>
<div class="container">
    <div class="row">
        <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <h2>Hello, I'm Philipp!</h2>
            <p>
                This project is open source and I created it for fun.
                It is made with Spring Boot which builds a convenient web wrapper around
                the <a href="https://developers.google.com/speed/webp"
                       class="link-primary"
                       target="_blank" title="WebP from Google"
                >WebP-converter from Google.</a>
            </p>
            <p>
                You can find more about me and my projects on
                <a class="link-primary" target="_blank" title="This project on Tithub" href="https://github.com/phip1611">github</a>
                or <a href="https://twitter.com/phip1611">Twitter</a>.
            </p>
        </div>
    </div>
</div>
