<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Dear friends of the WebP Image Format,</h1>
            <p>This project consists of a library to easily convert images to WebP,
                a REST-Service and a Web-Interface. The Library is standalone, the REST-Service and
                the Web-Interface both finds place in this Spring Service. Learn more about this project:</p>
            <p class="text-center">
                <a class="btn btn-secondary btn-lg"
                   href="https://github.com/phip1611/img-to-webp-spring-service"
                   title="Open this project on Github"
                   role="button" target="_blank">Open github &raquo;</a>
                <a class="btn btn-warning btn-lg"
                   href="/rest-api"
                   title="Learn about the REST API"
                   role="button">REST-API &raquo;</a>
                <a class="btn btn-danger btn-lg"
                   title="Convert images now"
                   href="/upload" role="button">Convert now &raquo;</a>
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h2>JPEG</h2>
                <img src="images/example.jpg" class="img-fluid" alt="Example JPEG Images" title="Example JPEG Images">
                <p>Example JPEG Image: 1000x750px, 165 KB</p>
            </div>
            <div class="col-md-6">
                <h2>WebP</h2>
                <img src="images/example.webp" class="img-fluid" alt="Example WebP Images" title="Example WebP Images">
                <p>Example WebP Image: 1000x750px, <strong>111 KB (48% less)</strong><br/><small>(if you don't see an image, try using Google Chrome)</small></p>
            </div>
        </div>
    </div> <!-- /container -->
</main>