<div class="margin-top"><!----></div>
<div class="container">
    <div class="row">
        <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <h2>Legal / Impressum</h2>
            <p>
                This website is not commercial and I don't make money from it. It's just for fun
                and with the hope but no guarantee to be helpful and useful.
                <strong>I do not allow the usage of my service for illegal content.</strong>
            </p>
            <p>
                Philipp Schuster<br/>
                phip1611@gmail.com<br/>
                Pfotenhauerstr. 68<br/>
                01307 Dresden<br/>
                Germany
            </p>
            <h2>Privacy / Datenschutzerklärung</h2>
            <p>
                This project doesn't collect any user data nor includes external
                resources. You agree that my service will access your potential
                private pictures to fulfill the promised functionality. Images
                will not be persisted and deleted from the cache within a few minutes.
            </p>
        </div>
    </div>
</div>
