<div class="margin-top"><!----></div>
<div class="container">
    <div class="row">
        <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <h2>Upload image (jpg, png, tiff, webp) and convert it to WebP</h2>
            <form class="mt-5" method="post" enctype="multipart/form-data" target="_blank">
                <div>
                    <label for="customFile">File (max. 25MB)</label>
                    <input type="file" class="form-control" name="file" id="customFile" accept="image/jpeg,image/jpg,image/png,image/tiff,image/webp">
                </div>
                <div class="mt-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-10">
                                <label for="quality-range">Quality</label>
                                <input type="range" class="form-range" name="quality" id="quality-range" min="1" max="100" value="80">
                            </div>
                            <div class="col-2">
                                <div id="input-quality-visualizer">80</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-1">
                                <input type="checkbox" class="form-check-input" id="consentCheckmark" name="consent">
                            </div>
                            <div class="col-11">
                                <label class="form-label" for="consentCheckmark">
                                    I agree that after pressing upload the service provider gets access to the file
                                    in order to provide the promised functionality. The file will be deleted after a
                                    short time automatically. <strong>I do not upload illegal content.</strong>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" id="uploadButton" class="mt-3 btn btn-primary">Upload & Convert</button>
                </div>
            </form>
        </div>
    </div>
</div>
