<div class="margin-top"><!----></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Upload image (jpg, png, tiff, webp) and convert it to WebP</h2>
            <form class="mt-5" method="post" enctype="multipart/form-data" target="_blank">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="file" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <div class="row"> <!-- to remove extra margin -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-10">
                                <label for="quality-range">Quality</label>
                                <input type="range" class="custom-range" name="quality" id="quality-range" min="1" max="100" value="80">
                            </div>
                            <div class="col-2">
                                <div id="input-quality-visualizer">80</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="consent">
                        <label class="custom-control-label" for="customCheck1">
                            I agree that with uploading my files the provider of this service will get access to them
                            in order to fulfill the promised functionality. They will be deleted from the Server after a short time automatically.
                            We don't share your photos with anyone.</label>
                    </div>
                </div>

                <div class="form-group">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
