<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Img To WebP Online Converter</title>
    <link rel="canonical" th:href="${'https://webp.phip1611.dev' + url}"/>
    <meta charset="utf-8">
    <meta name="description"
          content="Free online image to WebP image converter + REST API."/>
    <meta name="robots" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="32x32" href="/images/logo_32x32.png">
    <link rel="apple-touch-icon" sizes="64x64" href="/images/logo_64x64.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/images/logo_128x128.png">
    <link rel="apple-touch-icon" sizes="256x256" href="/images/logo_256x256.png">

    <link rel="stylesheet" href="res/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="res/css/custom.css"/>
    <script defer src="res/js/bootstrap.bundle.min.js"></script>
    <script defer src="res/js/custom.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Image to WebP Converter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHamburger" aria-controls="navbarHamburger" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarHamburger">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${page} == 'index' ? 'active' : ''"
                           href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${page} == 'upload' ? 'active' : ''"
                           href="/upload">Upload & Convert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${page} == 'rest-api' ? 'active' : ''"
                           href="/rest-api">REST API</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" th:classappend="${page} == 'legal-privacy' ? 'active' : ''"
                           href="/legal-privacy">Legal & Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${page} == 'about-me' ? 'active' : ''"
                           href="/about-me">About me (the dev)</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section th:insert="~{inc/__${page}__}"></section>

    <footer class="footer container text-center mb-1 mt-5">
        <p>&copy; Philipp Schuster <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> - We don't collect any personal data. Cached images will be deleted after 5 Minutes.</p>
    </footer>

    <noscript><p><img alt="" referrerpolicy="no-referrer-when-downgrade" src="https://matomo.phip1611.de/matomo.php?idsite=11&amp;rec=1" style="border:0;" /></p></noscript>
</body>
</html>
